*{
			margin:0;padding:0;
		}
		#banner{
			width:1120px;
			height:350px;
			margin:100px auto 0;/*上外边距 左右相等 下*/
			position:relative;
			overflow:hidden;
		}
		#banner .pic{
			width:1120px;
			height:350px;
			background:red;
			position:relative;/*相对定位*/
		}
		#banner .pic img{
			position:absolute;/*绝对定位*/
			left:100%;
			top:0;
		}
		#banner .pic img.first{
			left:0;
		}
		#banner .but{
			width:176px;
			height:20px;
			position:absolute;
			left:0;
			bottom:0;
			right:0;
			margin:0 auto;
		}
		#banner .but a{
			display:block;/*块元素显示*/
			width:12px;
			height:12px;
			background:#4c4c4c;
			float:left;/*左浮动*/
			border-radius:50%;/*小圆角*/
			margin:0 5px;/*上下 左右*/
		}
       #banner .but a.but-first{
			background:red;
		}
		#banner .on{
			width:70px;
			height:70px;
			position:absolute;
			top:50%;
			margin-top:-35px;
			display:none;
		}
		#banner .prev{
			left:0;
			background:url(../img/arrow.png)
		}
		#banner .next{
			right:0;
			background:url(../img/arrow.png) left bottom;
		}
